# Supabase (Client)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# Coreverse DB
NEXT_PUBLIC_COREVERSE_API_URL=
# Brevo
BREVO_API_KEY=
BREVO_SMTP_KEY=
BREVO_SMTP_LOGIN=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
# App
NEXT_APP_URL=
